extends base.pug

block style
    style 
     include ../static/style.css
     include ../static/about.css

block content
    div#container
        h2 About 
        hr
        h1 Dance Classes
        p With an aim to provide quality dance training and making dance available to all, SHIAMAK dance classes run throughout the year at multiple locations for students from ages four to eighty four providing them with training in various dance styles by Shiamak’s expert faculty. The classes give them an opportunity to learn dance, express themselves creatively and perform on stage. Classes are available for children (4 to 6 years), juniors (7 to 11 years) and adults (12 years onwards). 
    
        h1 INTENSIVE PROGRAMS
        h3 ONE YEAR DANCE CERTIFICATION PROGRAM (OYP)
        p This program is a full time course for one year that helps potential dancers nurture their skills in a professional environment. Shiamak actively teaches at the OYP and monitors their progress through the year. The OYP is a part of Shiamak’s mission to help dance enthusiasts make their passion a profession.
      
        h1 HALF YEARLY PROGRAM (SHP)
        p This six month program is designed for dance enthusiasts between ages 15 to 28 who wish to expand their knowledge base and gain a greater perspective in various dance styles. Classes are taught by Shiamak’s expert faculty and visiting guest teachers from across the world.
     
        h1 PROGRAM FOR JUNIORS (JOY)
        p JOY is a one year program for children between the age of seven to fourteen to get practical and theoretical understanding of various dance styles. One year of training lays a strong foundation for these dance enthusiasts and opens opportunities in the field of the performing arts.

        h1 CORPORATE WORKSHOPS
        p Easing hectic work schedules and professional stress, Shiamak spreads the joy of dance to working professionals at their corporate space! These customized dance sessions offer various dance styles and ac 
           