html
  head
    title Dance Academy
    //- block scripts
    //-   script(src='/jquery.js')
    block style
  body
   nav#navbar
          ul 
            div#logo 
               img(src="/static/pngwing.com (2).png")
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/services") Services]
            li #[a(href="/classinfo") Class info]
            li #[a(href="/contact") Contact Us]

   block content
   footer#footer 
     | Copyright © 2022 DanceAcademy.com | All rights reserved 
     