extends base.pug

block style
    style 
     include ../static/style.css
     include ../static/classinfo.css

block content
   
    div.container
        h1 Class Info
        hr 
        h2  7 days open
        div#sec
            h3  Morning Classes
            h4  timing: 8:00AM to 11:00AM
        div#sec2     
            h3  Evening  Classes
            h4  timing: 4:00PM to 7:00PM 