extends base.pug

block style
    style 
     include ../static/style.css
     include ../static/services.css
     

block content 
    div.container 
        h1 Services
        hr  
        h2 PRIVATE DANCE LESSONS
        h2 GROUP DANCE CLASSES
        h2 DANCE LESSONS
        h2 SHOWS & ENTERTAINMENT
        h2 SOCIAL PARTIES
        h2 DANCESPORT COMPETITIONS
        h2 EVENT SPACE RENTAL
        h2 PRICING & POLICY



