@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.container{
    

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Yeon Sung', cursive;

    justify-content: space-evenly;
}
/* .container h2{
    padding: 40px;
} */
.container h1{
    /* padding: 40px; */
    font-family: 'Baloo 2', cursive;
}
.container h2 {
    /* padding: 40px; */
    font-family: 'Great Vibes', cursive;
   
  }

/* .container h3{
    padding: 50px;
    margin-top: 50px;
}  */
.container hr{
    
    width: 100%;
    
   
}
.container::before{
    content: "";
    background: url("/static/m.jpg") no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
    /* top: 0px;
     left: 0px; */
}

@media (max-width:1000px) {
   
    #navbar li a {
        font-size: 28px;
    }
    #navbar {
        
        padding: 20px;
    }.container{
        height: 2000px;
    }
    .container::before{
        height: 2000px;
    }
    #logo img {
        height: 35px;
        width: 45px;
    }
    .container h1{
        font-size: 46px;
    }
    
    .container h2{
        font-size: 41px;
    }
    #sec{
        font-size: 23px;
    }
    #sec2{
        font-size: 23px;
    }
    
#footer{
    font-size: 25px;
    height: 40px;
}
}